/*----------------------- Formateo -----------------------*/
* {
    box-sizing: border-box;
    font-family: 'WorkSans';
    margin: 0;
    padding: 0;
}

html {
    /* Permite deslizar cuando se hace click en los links de menú */
    scroll-behavior: smooth;
}